$container-padding:0 5px;
@media screen and (max-width: 600px) {
    .page__container {
        width:100%;
        padding:$container-padding
    }
}
@media screen and (min-width: 601px) {
    .page__container {
        max-width:800px;
        width:100%;
        padding:$container-padding
    }
}