.profileInfo__section {
    margin-bottom: 20px;

    @media screen and (max-width: 600px) {
        aside {
            width: 33%;
            float: left;
            margin-right: 5px;
        }
    }

    @media screen and (min-width: 900px) {
        display: flex;

        aside {
            width: 25%;
            margin-right: 5px;
        }

        article {
            width:70%;
        }
    }
}